<p style="color: green"><%= notice %></p>

<h1>Realties</h1>

<div id="realties">
  <% @realties.each do |realty| %>
    <span>
        <img src="<%= realty.img %>" alt="realty thumbnail" width="250" height="250">
        <p>
          <strong>Address:</strong>
          <%= realty.address %>
        </p>
        <p>
          <string>Total Bricks:</string>
          <%= realty.bricks.count %> |

          <% if realty.bricks.count > 0 %>
            <string>on sale:</string>
            <%= realty.bricks.where(on_sale: true).count %>
            starting from <%= realty.bricks.where(on_sale: true).order(:price).first.price %>
          <% else %>
            <string> No bricks on sale :( </string>
          <% end %>
        </p>
        <p>
          <%= link_to "Show this realty", realty %>
        </p>
    </span>
  <% end %>
</div>
